body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #4e4e4e;
    user-select: none;
}

h1, h2 {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 46px;
    text-decoration: underline;
    margin-bottom: 80px;
}

h2 {
    font-size: 28px;
}

p {
    margin: 20px 0;
    font-size: 18px;
    text-align: justify;
}

section, footer {
    margin-top: -20px;
    border-radius: 0;
    padding: calc(2% + 20px) 2% calc(2% + 20px) 2%;
    clip-path: polygon(0% 0%, 100% 20px, 100% 100%, 0% calc(100% - 20px));
    color: #161616;
}

footer {
    padding-left: 5%;
}

.inter-section, footer {
    clip-path: none;
    color: rgb(185, 185, 185);
}

.inter-section a:any-link, footer a:any-link {
    color: rgb(206, 206, 206);
    text-decoration:underline;
}

.text-container {
    max-width: calc(20% + 800px);
    padding: 0 10% 20px 10%;
    margin-left: auto;
    margin-right: auto;
}

hr {
  border: none;
  margin-bottom: 100px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #161616;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar-menu {
    text-align: center;
    flex: 10;
    align-self: stretch;
    font-weight: 600;
}

.topbar-separator {
    flex: 1;
    display: block;
}

.separator {
    width: 3px;
    background-color: #161616;
    height: 100%;
    justify-self: center;
}

#topbar a:any-link {
    font-weight:bolder;
    color: black;
    text-decoration: none;
}

#topbar a:hover {
    color: black;
    text-decoration: underline;
}

#presentation {
    background-color: #95eeb4;
}

.sided {
    display: flex;
}

.sided > div:nth-child(1) {
    flex-shrink: 0;
    flex-grow: 0;
    flex: 7;
    display: flex;
}

.sided > div:nth-child(1) div {
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sided > div:nth-child(2) {
    flex-shrink: 0;
    flex-grow: 0;
    flex: 4;
}

#profile-photo {
    margin-left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#programming-projects {
    background-color: #7bd4cd;
}

#projects {

}

#diving-photos {
    background-color: #5ea4d3;
}

#diving-photos img { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 8px;
}

#diving-photos > div {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 calc(10% - 50px);
    margin-bottom: 40px;
}

#diving-photos > div > a{
    height: 160px;
    display: flex;
    flex-basis: 220px;
    margin: 10px;
    justify-content: center;
}

#diving-photos .placeholder {
    flex-basis: 220px;
    margin: 0 10px;
}

#photos {
    margin: 0px;
}