body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #4e4e4e;
    user-select: none;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 42px;
    text-decoration: underline;
    margin-bottom: 40px;
    margin-top: 10px;
}

h2 {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 60px;
}

p, a {
    font-size: 20px;
}

p {
    margin: 20px 0;
    text-align: left;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

section, footer {
    margin-top: -40px;
    border-radius: 0;
    padding: calc(2% + 20px) 2% calc(2% + 20px) 2%;
    clip-path: polygon(0% 0%, 100% 40px, 100% 100%, 0% calc(100% - 40px));
    color: #161616;
}

footer {
    padding-left: 5%;
}

.inter-section, footer {
    clip-path: none;
    color: rgb(185, 185, 185);
}

.inter-section a:any-link, footer a:any-link {
    color: rgb(209, 209, 209);
    text-shadow: rgb(174, 174, 174) 0px 0px 2px;
}

.text-container {
    max-width: calc(20% + 800px);
    padding: 0 10% 60px 10%;
    margin-left: auto;
    margin-right: auto;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3px;
    margin-bottom: 100px;
}


.topbar-menu {
    text-align: center;
    flex: 10;
    align-self: stretch;
    font-weight: 600;
    max-width: 280px;
    padding-bottom: 8px;
    border-bottom: 3px solid #161616;
}

.topbar-separator {
    max-width: 3px;
    display: block;
    padding-bottom: 6px;
    border-bottom: 3px solid #161616;
}

.separator {
    width: 3px;
    background-color: #161616;
    height: 100%;
    margin: auto;
}

#topbar a:any-link {
    font-weight:bolder;
    color: black;
}

#topbar a:hover {
    color: black;
}

#presentation {
    background-color: #d0f0bd;
    padding-top: 60px;
}

.sided {
    display: flex;
}

.sided > div:nth-child(1) {
    flex-shrink: 0;
    flex-grow: 0;
    flex: 1;
    margin-right: 5%;
    display: flex;
}

.sided > div:nth-child(1) > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sided > div:nth-child(2) {
    margin-left: 5%;
    flex-shrink: 0;
    flex-grow: 0;
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
}

#profile-photo {
    width: 85%;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 30px;
}

#pres-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pres-text * {
    width: 100%;
    text-align: center;
}

#programming-projects {
    background-color: #98deea;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*  */
    padding: 0 max(calc(50% - 300px * 2), 15%);
    margin: 0px;
    margin-bottom: 40px;
}

.project {
    width: 250px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(236, 236, 236);
    flex-basis: 1;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.project > div:nth-child(1) {
    flex: 1;
    padding: 10px;
}

.project > div:nth-child(1) > img {
    border: 1px solid rgb(203, 203, 203);
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.project > div:nth-child(2) {
    background-color:rgb(218, 218, 218);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 4px dotted rgb(113, 113, 113);
}

.project > div:nth-child(2) p {
    text-align: center;
    font-weight: 600;
}

#projects .placeholder{
    width: 250px;
    margin: 21px;
    margin-top: 0;
    margin-bottom: 0;
}

#diving-photos {
    background-color: #5ea4d3;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 calc(20% - 100px);
    margin: 0px;
    margin-bottom: 40px;
}

#photos a{
    height: 160px;
    flex-basis: 220px;
    margin: 10px;
    justify-content: center;
}

#photos img { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.581) 0 0 10px;
}

#photos .placeholder {
    flex-basis: 220px;
    margin: 0 10px;
}

#button-container {
    display: flex;
    justify-content: end;
    padding: 0 calc(20% - 100px);
    margin: 0px;
}

#see-more-button {
    margin: 20px;
    margin-right: 0;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 100px;
    text-align: center;
    border: none;
    background: linear-gradient(0.47turn, #77b6e1, #5ea4d3, #5e8fd3, #6784cf);
    color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.656) 3px 3px 8px;
    transition-duration: 0.4s;
}

#see-more-button:hover {
    box-shadow: rgba(0, 0, 0, 0.656) 6px 6px 16px;
}

#see-more-button:active {
    box-shadow: rgba(0, 0, 0, 0.656) 1px 1px 4px;
    color: #ffe68c;
}